:root
	--default-font: "Proxima Nova", Arial, sans-serif
	--base-width: 1200px

	--border-color: #dddddd

	--main-color: #6c00ff
	--second-color: #e7e7e7

	--sale-label-color: #ffcc00
	--new-label-color: #e20668
	--actual-label-color: #a100c3

	--main-bgc: #000

	--section-color: #decbd7

	--city-color: rgba(246, 224, 192, 1)
	--events-color: rgba(179, 192, 226, 1)
	--articles-color: rgba(178, 213, 178, 1)
	--report-color: #decbd7