<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Статья
		include inc/head.pug
		include inc/css.pug
	body.inner.loading.head-menu
		include inc/header.pug
		include inc/mobileMenu.pug
		main#content
			.inner-content
				.article-one
					.article-one__anons
						.wrapper
							.article-anons
								.article-anons__titles
									.article-anons__titles-left
										.article-titles
											.article-titles__type Интервью
											.article-titles__title
												h1 NOIZE MC
									.article-anons__titles-right
										.article-titles
											.article-titles__date 13 декабря 2016
											.article-titles__desc
												span Текст: Василий Трунов
												span Фото: Женя Хажей
								.article-anons__text
									figure.anons__img
										img(class="slideInUp" src="img/photos/article-1.jpg")
									.anons__title
										.text-page
											h2 «Даже, когда все штормит <br />и ломается — мы делаем крутое шоу»
									.anons__text
										.text-page
											p В декабре группа Noize MC презентует новую пластинку «Царь горы». По просьбе Geometria.ru лидер коллектива Иван Алексеев рассказал об успехах в одноименной детской забаве, работе с вирус-исполнительницей Монеточкой и потенциале рэп-оперы «Орфей и Эвридика».
					.article-one__detail
						.wrapper
							.article-detail
								.text-page
									table.small-size.center
										tbody
											tr
												td
													img(align="left" src="img/photos/article-2.jpg" class="rollIn")
												td
													img(align="right" src="img/photos/article-3.jpg" class="rollIn")
											tr
												td(colspan="2")
													br
													br
													br
													h4 Твой новый альбом получил название «Царь горы». Это <br /> одновременно аллегория на музыкальную индустрию и <br /> вполне реальная детская забава. <br />Ты часто в нее играл, когда был маленьким?
													br
													p Да, это происходило в моем дворе в городке Ярцево, что в Смоленской области. Месте, где все <br /> друг друга знают, а дети — тем более. Когда я был совсем маленьким, у нас такие баталии <br /> происходили регулярно. Эпицентром становилась горка, с которой все катались на санках и <br />ледянках. Каждый старался удержаться на ней подольше. Правда, мои спортивные успехи были <br /> сомнительными... как и на любом этапе моей жизни (улыбается).
									br
									br
									table.full-size.center
										tbody
											tr
												td
													img(align="left" class="zoomInLeft" src="img/photos/article-4.jpg")
												td(valign="middle" rowspan="2")
													img(align="right" class="zoomInRight" src="img/photos/article-5.jpg" data-title-before="Фото: Женя Хажей")
											tr
												td
													br
													br
													br
													h4 Если говорить о музыке, то часто ли ты <br /> чувствуешь себя царем горы и, наоборот,<br /> ощущаешь, что летишь с нее вниз?
													br
													p Это проявляется на концертах. Порой ты выходишь и встречаешься с не очень<br /> активной публикой. Ты вступаешь с ней в диалог, выстраиваешь крещендо <br />эмоциональное, раскачиваешь толпу. Бывает и так, что все сразу в теме и рубятся <br /> от начала до конца. Тогда концерт превращается в энергетический пинг-понг, <br /> разгоняющий ситуацию до полного катарсиса. Ну, и есть третий вариант, когда <br /> все начинает валиться из рук. Например, из-за глюка ломается питч-контрол и <br /> семпл звучит в неправильной тональности. Или синтезатор из-за перепада <br /> напряжения глючит и уплывает на четверть тона, и ты находишься в полном <br /> ужасе, оттого что не можешь в ноты попасть. Но когда все штормит и ломается, <br /> мы все равно идем в гору и стараемся сделать крутое шоу.
									br
									br
									br
									table.full-size.right-offset
										tbody
											tr
												td 
													img(align="left" class="slideInLeft" src="img/photos/article-6.jpg")
												td 
													h4 А как ты переживаешь спады в популярности?
													p Не сказать, что они у нас есть. Единственная по-настоящему неприятная ситуация была, когда <br /> подряд кучу концертов отменили. В одном городе тебя ФСБ встречает, в другом — МВД, в третьем <br /> — еще кто-нибудь (В 2014 году правоохранительные органы сорвали серию концертов Noize MC. Причиной, по одной из версий, стал случай, когда Иван взял в руки украинский флаг, протянутый ему <br /> одним из зрителей во время выступления группы на фестивале во Львове – Прим. ред.). Тогда да – <br /> депрессивные моменты были. Если затрагивать тему популярности, то я разговаривал об этом с <br /> Джоном Коннором из «Dog Eat Dog» – олдскульной американской рэпкор-команды. Они крутые, но <br /> собирают мало. Однако все равно путешествуют по миру и играют для 50-100 человек. Джон сказал: <br /> «Да, к нам на концерты приходит не так много людей, но это не значит, что они не должны получить <br /> крутое шоу!» Я очень уважаю такую позицию. Именно этим и отличаются профессионалы от чуваков, <br /> которые только что вылезли из подвалов. Я помню концерты «La Coka Nostra» или «Hed P.E.» в малом <br /> зале клуба «Milk» в Москве — там было крайне мало людей, но на сцене в обоих случаях все <br /> выкладывались по максимуму.
									br
									br
									br
									br
									table.full-size.left-offset
										tbody
											tr
												td(colspan="2")
													h4 Новая песня «!L!VE», в частности, о том, что у артистов должно быть <br /> крутое шоу. Она посвящена конкретным музыкантам?
													p Нет. Несмотря на некую форму наезда, в <br /> ней заложен самый позитивный посыл. Там же есть такие строчки в конце второго куплета: «Блином выходит первый ком — всем давно известно: не справился с нервяком — на <br /> сцене выдал беспонт? У всех бывает иногда — руки не опускай: порепетируй сам и братву поднатаскай». Главное <br /> — трепетно подходить к выступлениям, вкладывать в них душу. Есть исполнители, записи которых я слушаю с <br /> удовольствием, но чьи лайвы мне категорически не нравятся.
													br
													br
													br
											tr
												td
													br
													img(align="left" class="fadeIn" src="img/photos/article-7.jpg")
												td
													img(align="right" class="fadeIn" src="img/photos/article-8.jpg" data-title-after="Фото: Женя Хажей")
											tr
												td(colspan="2")
													br
													br
													br
													h4 Например?
													p У ЛСП есть охуенно крутые песни, например, «Номера». Но живое их исполнение, по-моему, ужасно. Причем ЛСП <br />— изначально не моя музыка. С тем, как я проникся его творчеством, связана довольно необычная история. Я был <br /> у своих друзей в Америке, которые делают в Штатах что-то вроде молодежного бардовского слета. На него <br /> приезжают русскоговорящие ребята из Нью-Йорка, Пенсильвании, Канады и играют всевозможное актуальное <br /> музло. В плане речитативных песен, там все начиналось с нашего репертуара и группы «5’nizza», например, а <br /> сейчас там можно услышать практически весь актуальный русский рэп. И вот один парень, Илья из Торонто, <br /> сначала спел под гитару несколько песен Мирона из «Горгорода», а затем сыграл пару неизвестных мне, но дико <br /> крутых вещей. Я спросил его: «Чувак, что это такое? Это же огонь!». Илья ответил — это ЛСП. Я по-настоящему <br /> прикололся, на следующий день уже наизусть знал все припевы, и мы эти песни вместе играли — он на гитаре, а <br /> я на джамбее и подпевал. Но при том, что авторский материал — мощный, на концертах это пока выглядит, как <br /> караоке, к сожалению. Искренне надеюсь, что так будет не всегда.
									br
									br
									br
									table.full-size
										tbody
											tr
												td(valign="top")
													img(src="img/photos/article-9.jpg" class="slideInLeft" align="left")
												td(valign="top")
													br
													br
													br
													h3 Съемки клипа «!L!VE» происходили в <br /> лайв-режиме. Расскажи самую убойную <br /> историю, которая не попала на видео
													p У ЛСП есть охуенно крутые песни, например, «Номера». Но живое их исполнение, <br /> по-моему, ужасно. Причем ЛСП — изначально не моя музыка. С тем, как я <br /> проникся его творчеством, связана довольно необычная история. Я был у своих <br /> друзей в Америке, которые делают в Штатах что-то вроде молодежного <br /> бардовского слета. На него приезжают русскоговорящие ребята из Нью-Йорка, <br /> Пенсильвании, Канады и играют всевозможное актуальное музло. В плане <br /> речитативных песен, там все начиналось с нашего репертуара и группы «5’nizza», <br /> например, а сейчас там можно услышать практически весь актуальный русский <br /> рэп. И вот один парень, Илья из Торонто, сначала спел под гитару несколько <br /> песен Мирона из «Горгорода», а затем сыграл пару неизвестных мне, но дико <br /> крутых вещей. Я спросил его: «Чувак, что это такое? Это же огонь!». Илья ответил <br /> — это ЛСП. Я по-настоящему прикололся, на следующий день уже наизусть знал <br /> все припевы, и мы эти песни вместе играли — он на гитаре, а я на джамбее и <br /> подпевал. Но при том, что авторский материал — мощный, на концертах это пока <br /> выглядит, как караоке, к сожалению. Искренне надеюсь, что так будет не всегда.
									br
									br
									br
									br
									table.small-size.center
										tbody
											tr
												td 
													img(align="left" class="fadeIn" src="img/photos/article-10.jpg")
												td 
													img(align="right" class="fadeIn" src="img/photos/article-12.jpg")
									br
									br
									br
									div.small-text.center
										h4 Кто станет следующим президентом США: латинос, женщина, трансгендер, инопланетянин?
										p После Трампа должен быть совсем уж оголтелый вариант. Надеюсь, из недр Федерального Резерва наконец-то выйдут настоящие рептилоиды и прекратят весь этот затянувшийся марионеточный спектакль с землянами-посредниками!
							.article__repost
								.share-block
									.share-block__title Поделиться <br />Заведением
									.share-block__soc
										.share-soc
											each name in ["vk", "fb", "inst"]
												a.share-soc__link(href="#" style="background-image: url(img/ico-black-"+name+".png")
							.article__controls
								.article-controls
									a.article-controls__prev(href="#")
										span Предыдущая статья	
									.article-controls__title 
										a(href="#") 350 квадратов искусства!
									a.article-controls__next(href="#")
										span Следующая статья
							.article__comments
								.comments
									.comments__top
										.comments__count 4 комментария
										.comments__link
											a.write-comment-link(href="#") Написать комментарий
									form(action="#")
										.comments__list
											.comments__one
												.comment
													.comment__header
														.c-head
															figure.c-head__img
																img(src="img/no-photo.png")
															.c-head__name
																.c-head__name-text Xpage
																.c-head__name-date-time 02.08.2018&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;08:45
															.c-head__counter
																span(class="comment-like")
																	img(src="img/ico-dislike.png" class="comment-like_dislike")
																	span(class="badge" data-counter="+2")
																	img(src="img/ico-like.png" class="comment-like_like")
													.comment__body
														.comment-text Тестовый комментарий
													.comment__footer
														.comment__footer-reply
															a(href="#") Ответить
														.comment__footer-form.visible
															.comment-form
																textarea.comment-form__text
																input.comment-form__submit(type="submit" value="Отправить")
													.comment__answer
														.comment.comment--highlight
															.comment__header
																.c-head
																	figure.c-head__img
																		img(src="img/no-photo.png")
																	.c-head__name
																		.c-head__name-text Xpage
																		.c-head__name-date-time 02.08.2018&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;08:45
																	.c-head__from
																		.reply-to-link Xpage
																	.c-head__counter
																		span(class="comment-like")
																			img(src="img/ico-dislike.png" class="comment-like_dislike")
																			span(class="badge" data-counter="-2")
																			img(src="img/ico-like.png" class="comment-like_like")
															.comment__body
																.comment-text Тестовый комментарий
															.comment__footer
																.comment__footer-reply
																	a(href="#") Ответить
																.comment__footer-form
																	.comment-form
																		textarea.comment-form__text
																		input.comment-form__submit(type="submit" value="Отправить")
															.comment__answer
																.comment
																	.comment__header
																		.c-head
																			figure.c-head__img
																				img(src="img/no-photo.png")
																			.c-head__name
																				.c-head__name-text Xpage
																				.c-head__name-date-time 02.08.2018&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;08:45
																			.c-head__from
																				.reply-to-link Xpage
																			.c-head__counter
																				span(class="comment-like")
																					img(src="img/ico-dislike.png" class="comment-like_dislike")
																					span(class="badge" data-counter="0")
																					img(src="img/ico-like.png" class="comment-like_like")
																	.comment__body
																		.comment-text Тестовый комментарий
																	.comment__footer
																		.comment__footer-reply
																			a(href="#") Ответить
																		.comment__footer-form
																			.comment-form
																				textarea.comment-form__text
																				input.comment-form__submit(type="submit" value="Отправить")
											.comments__one
												.comment
													.comment__header
														.c-head
															figure.c-head__img
																img(src="img/no-photo.png")
															.c-head__name
																.c-head__name-text Xpage
																.c-head__name-date-time 02.08.2018&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;08:45
															.c-head__counter
																span(class="comment-like")
																	img(src="img/ico-dislike.png" class="comment-like_dislike")
																	span(class="badge" data-counter="+2")
																	img(src="img/ico-like.png" class="comment-like_like")
													.comment__body
														.comment-text Тестовый комментарий
													.comment__footer
														.comment__footer-reply
															a(href="#") Ответить
														.comment__footer-form
															.comment-form
																textarea.comment-form__text
																input.comment-form__submit(type="submit" value="Отправить")
										.comments__btn
											a.write-comment(href="#") Написать комментарий
		include inc/footer.pug
		include inc/scripts.pug