<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Мои фото
		include inc/head.pug
		include inc/css.pug
	body.inner.loading.head-menu
		include inc/header.pug
		include inc/mobileMenu.pug
		main#content
			.inner-content
				.title-block__cont
					.wrapper
						.title-block
							.title-block__title
								h1 Мои фото
				.my-photos__cont
					.wrapper
						.my-photos
							.mp-list
								.mp-list__item
									.mp-item
										figure.mp-item__img
											img(src="img/photos/mp-img-0.jpg")
											figcaption.mp-item__img-year 2019
										.mp-item__actions
											.mp-actions
												.mp-actions__dl
													a.slider-desc__btns-download(href="img/photos/mp-img-0.jpg" download="Название картинки.jpg") Скачать
												.mp-actions__hidden
													a.hide-btn(href="#") Скрыть
												.mp-actions__share
													.slider-desc__btns-share
													.slider-desc__btns-share-block
														.share-soc
															.ya-share2__hide
															.ya-share2--reportage(data-services="vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp,telegram" data-bare data-title="KOKO Dance Floor" data-description="" data-image="/upload/uf/cf8/009/380.jpg?v=1575966041")
								.mp-list__item
									.mp-item
										figure.mp-item__img
											img(src="img/photos/mp-img-1.jpg")
											figcaption.mp-item__img-year 2019
										.mp-item__actions
											.mp-actions
												.mp-actions__dl
													a.slider-desc__btns-download(href="img/photos/mp-img-1.jpg" download="Название картинки.jpg") Скачать
												.mp-actions__hidden
													a.hide-btn(href="#") Скрыть
												.mp-actions__share
													.slider-desc__btns-share
													.slider-desc__btns-share-block
														.share-soc
															.ya-share2__hide
															.ya-share2--reportage(data-services="vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp,telegram" data-bare data-title="KOKO Dance Floor" data-description="" data-image="/upload/uf/cf8/009/380.jpg?v=1575966041")
								.mp-list__item
									.mp-item
										figure.mp-item__img
											img(src="img/photos/mp-img-2.jpg")
											figcaption.mp-item__img-year 2019
										.mp-item__actions
											.mp-actions
												.mp-actions__dl
													a.slider-desc__btns-download(href="img/photos/mp-img-2.jpg" download="Название картинки.jpg") Скачать
												.mp-actions__hidden
													a.hide-btn(href="#") Скрыть
												.mp-actions__share
													.slider-desc__btns-share
													.slider-desc__btns-share-block
														.share-soc
															.ya-share2__hide
															.ya-share2--reportage(data-services="vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp,telegram" data-bare data-title="KOKO Dance Floor" data-description="" data-image="/upload/uf/cf8/009/380.jpg?v=1575966041")
								.mp-list__item
									.mp-item
										figure.mp-item__img
											img(src="img/photos/mp-img-3.jpg")
											figcaption.mp-item__img-year 2019
										.mp-item__actions
											.mp-actions
												.mp-actions__dl
													a.slider-desc__btns-download(href="img/photos/mp-img-3.jpg" download="Название картинки.jpg") Скачать
												.mp-actions__hidden
													a.hide-btn(href="#") Скрыть
												.mp-actions__share
													.slider-desc__btns-share
													.slider-desc__btns-share-block
														.share-soc
															.ya-share2__hide
															.ya-share2--reportage(data-services="vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp,telegram" data-bare data-title="KOKO Dance Floor" data-description="" data-image="/upload/uf/cf8/009/380.jpg?v=1575966041")
								.mp-list__item
									.mp-item
										figure.mp-item__img
											img(src="img/photos/mp-img-1.jpg")
											figcaption.mp-item__img-year 2019
										.mp-item__actions
											.mp-actions
												.mp-actions__dl
													a.slider-desc__btns-download(href="img/photos/mp-img-1.jpg" download="Название картинки.jpg") Скачать
												.mp-actions__hidden
													a.hide-btn(href="#") Скрыть
												.mp-actions__share
													.slider-desc__btns-share
													.slider-desc__btns-share-block
														.share-soc
															.ya-share2__hide
															.ya-share2--reportage(data-services="vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp,telegram" data-bare data-title="KOKO Dance Floor" data-description="" data-image="/upload/uf/cf8/009/380.jpg?v=1575966041")
								.mp-list__item
									.mp-item
										figure.mp-item__img
											img(src="img/photos/mp-img-2.jpg")
											figcaption.mp-item__img-year 2019
										.mp-item__actions
											.mp-actions
												.mp-actions__dl
													a.slider-desc__btns-download(href="img/photos/mp-img-2.jpg" download="Название картинки.jpg") Скачать
												.mp-actions__hidden
													a.hide-btn(href="#") Скрыть
												.mp-actions__share
													.slider-desc__btns-share
													.slider-desc__btns-share-block
														.share-soc
															.ya-share2__hide
															.ya-share2--reportage(data-services="vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp,telegram" data-bare data-title="KOKO Dance Floor" data-description="" data-image="/upload/uf/cf8/009/380.jpg?v=1575966041")
							include inc/fs-itog.html
		include inc/footer.pug
		include inc/scripts.pug