<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Вакансии
		include inc/head.pug
		include inc/css.pug
	body.inner.loading.head-menu
		include inc/header.pug
		include inc/mobileMenu.pug
		main#content
			.inner-content
				.title-block__cont
					.wrapper
						.title-block
							.title-block__title
								h1 Вакансии
							.title-block__btn
								button.filter-toggle
				.vacancy__cont
					.wrapper
						.vacancy
							.vacancy__text
								.text-page
									p Комплексный и полноценный подход к работе над Вашим интернет-сайтом позволяет нам достигать уже через 3 недели самых первых положительных результатов (достаточно около 2-3 полноценных обновлений алгоритмов поисковых систем). Достижение окончательного результата соблюдается в сроки, которые заранее описаны в договоре ( 4-6 месяцев в случае продвижения интернет-ресурса в ТОП).Комплексный и полноценный подход к работе над Вашим интернет-сайтом позволяет нам достигать уже через 3 недели самых первых положительных результатов (достаточно около 2-3 полноценных обновлений алгоритмов поисковых систем).
							.vacancy__list
								- for (let i = 0; i < 3; i++)
									.vacancy__list-one
										.vc-one
											.vc-one__title Помощник аккаунт-менеджера (хороший шанс начать карьеру в интернет-агентстве)
											.vc-one__text
												.text-page
													p От соискателя ждем:
													ul
														li 
															span 123
															ul
																li базовые знания в направлениях: SEO, SMM, контекстная реклама;		
																li грамотный русский язык: устный и письменный;
																li умение быстро переключаться между проектами/задачами;
																li желание расти и развиваться в сфере digital.	
														li грамотный русский язык: устный и письменный;
														li умение быстро переключаться между проектами/задачами;
														li желание расти и развиваться в сфере digital.
													p Что входит в обязанности:
													ul
														li сопровождение клиентских проектов совместно с аккаунт-менеджером;
														li координация работы производственных отделов в рамках задач;
														li решение вопросов с клиентами.
														li постоянное развитие и изучение новинок интернет-маркетинга.
													p Мы предлагаем:
													ul
														li з/п от 18 000 руб/месяц (оклад + премия);
														li внутреннее и внешнее обучение, посещение семинаров, вебинаров и пр.
														li интересные задачи, крупные клиенты;
														li карьерный рост
													br
													p Комплексный и полноценный подход к работе над Вашим интернет-сайтом позволяет нам достигать уже через 3 недели самых первых положительных результатов (достаточно около 2-3 полноценных обновлений алгоритмов поисковых систем). Достижение окончательного результата соблюдается в сроки, которые заранее описаны в договоре ( 4-6 месяцев в случае продвижения интернет-ресурса в ТОП).Комплексный и полноценный подход к работе над Вашим интернет-сайтом позволяет нам достигать уже через 3 недели самых первых положительных результатов (достаточно около 2-3 полноценных обновлений алгоритмов поисковых систем). 
							.vacancy__form
								.v-form
									.v-form__text
										.text-page
											p Свяжитесь с нами любым удобным Вам способом или просто пришлите свое резюме на job@siteactiv.ru с темой "Резюме на должность ..." и мы договоримся о встрече или вышлем тестовое задание.
									.v-form__btn
										a.btn.fancybox(href="#write-form") Написать нам
		include inc/footer.pug
		include inc/scripts.pug