<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Заведение
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		include inc/mobileMenu.pug
		main#content
			<!-- тут добавился класс -->
			.main-slider__cont.main-slider--dotted
				.main-slider
					.swiper-wrapper
						- for (let i = 0; i < 3; i++)
							.swiper-slide
								.main-slider__slide
									figure.main-slider__slide-img
										picture
											<!-- Большая картинка -->
											source(data-main="" media="screen and (orientation: landscape)" srcset="img/photos/venue-slider-img.jpg")
												
											<!-- Картинка для телефонов --> 
											source(media="screen and (orientation: portrait)" srcset="img/photos/venue-slider-img-adaptive.jpg")
											img
					.swiper-pagination
					.main-slider__arrows
						.swiper-button.swiper-button-prev
						.swiper-button.swiper-button-next
			.inner-content
				.wrapper
					.venue
						.venue__loader(style="background-color: #000")
							<!-- Цвет фона можно задать разный -->
							img.venue-img(src="img/photos/united-img.jpg")
						.venue__live
							.venue__live-title Live-репортажи
							.venue__live-slider
								div(class="live-slider__cont")
								div(class="wrapper")
									div(class="live-slider")
										div(class="swiper-wrapper")
											- for (let j = 0; j < 5; j ++)
												- for (let i = 0; i < 5; i ++)
													div(class="swiper-slide")
														div(class="live-slider__slide")
															div(class="live "+(i == 0 ? "live--visited" : ""))
																a(href="#" class="live__img fancybox" data-fancybox="live-gallery-<?=$arItem['ID']?>")
																	img(src="img/photos/v-live-img-"+i+".jpg")
																div(class="live__titles")
																	div(class="live__titles-title") 12324
																	div(class="live__titles-place") 1242
																div(class="live__labels")
																	div(class="live-labes")
																		div(class="live-labes__main") Live
																		div(class="live-labes__video") 123
															div(style="display: none")
																a(href="<?=CFile::getPath($arPhotoId)?>" class="fancybox" data-fancybox="live-gallery-<?=$arItem['ID']?>")
																a(href="<?=CFile::getPath($arVideoId)?>" class="fancybox" data-fancybox="live-gallery-<?=$arItem['ID']?>")
								.live-slider__cont-scrollbar
									.swiper-scrollbar
						.venue__info
							.venue-info
								.venue-info__title
									.v-title
										figure.v-title__img
											img(src="img/photos/united-img.jpg", alt="United")
										.v-title__desc
											.v-title__type Бар
											.v-title__name United
								.venue-info__likes
									.v-likes
										.v-likes__stars
											span 6
										.v-likes__hearths
											span +6
								.venue-info__soc
									.f-soc
										each name in ["inst", "vk", "fb", "twt"]
											a.f-soc__link(href="#")
												img(src="img/ico-v-"+name+".svg")
						.venue__inst
							.venue-inst
								.swiper-wrapper
									- for (let i = 0; i < 9; i++)
										.swiper-slide
											if (i != 6)
												if (i == 0)
													.venue-inst__slide
														img(src="img/photos/inst-slider-img-"+(i > 5 ? i-1 : i)+".jpg"
														)
												else
													.venue-inst__slide
														img.swiper-lazy(data-src="img/photos/inst-slider-img-"+(i > 5 ? i-1 : i)+".jpg"
														)
														.swiper-lazy-preloader
											else
												a.venue-inst__slide(href="#")
													.venue-inst__slide-title Присоединяйся к нам в Instagram
													.venue-inst__slide-img
														img(src="img/photos/inst.png")

						//- .venue__soc
						//- 	.venue-soc
						//- 		.venue-soc__slider
						//- 			.v-soc
						//- 				.swiper-wrapper
						//- 					- for (let i = 0; i < 3; i++)
						//- 						.swiper-slide
						//- 							a.v-soc__slide(href="#")
						//- 								img(src="img/photos/v-soc-img-"+i+".jpg")
						//- 								.v-soc__slide-soc-img
						//- 									img(src="img/ico-v-inst.svg")
						//- 				.v-soc__scrollbar
						//- 					.swiper-scrollbar
						//- 		a.venue-soc__link(href="#")
						//- 			span Присоединяйся
						//- 				br
						//- 				| к нам в соцсетях
						.venue__contacts
							.v-contacts
								.v-contacts__btn
									a.map-btn(href="#") Посмотреть на крате
								.v-contacts__item
									.v-contacts__item-title Адрес
									address.v-contacts__item-text ул. Энтузиастов, д.11
								.v-contacts__item
									.v-contacts__item-title Время работы
									time.v-contacts__item-text Сегодня работает до 00:00
								.v-contacts__item
									.v-contacts__item-title Телефон
									address.v-contacts__item-text 
										a(href="tel: +7 (351) 776-36-86") +7 (351) 776-36-86
								.v-contacts__item
									.v-contacts__item-title Сайт
									address.v-contacts__item-text 
										a(href="http://united.ru" target="_blank") united.ru
						.venue__map
							.venue-map
								<!-- ico-loc.svg - маркер -->
								<!-- #595959 - цвет для окружностей -->
								img(src="img/photos/venue-map.jpg")
						.venue__tabs
							.v-tabs
								.v-tabs__tabs
									.v-tabs__tab.active(data-id="0") О нас
									.v-tabs__tab(data-target="#reports") Репортаж
									.v-tabs__tab(data-target="#events") События
									.v-tabs__tab(data-id="3" data-count="6") Отзывы
									.v-tabs__tab(data-id="4") Меню
									.v-tabs__tab(data-id="5") Акции
									select.no-selectize
										option(value="0") О нас
										option(value="#reports") Репортаж
										option(value="#events") События
										option(value="3") Отзывы (6)
										option(value="4") Меню
										option(value="5") Акции
								.v-tabs__btns
									a.tab-btn(href="#") Забронировать стол
									a.tab-btn(href="#") Написать в чат
							.v-tabs__content
								.tabs-content.active(data-id="0")
									.tabs-content__slider
										.vabout-slider
											.swiper-wrapper
												- for (let i = 0; i < 8; i++)
													.swiper-slide
														a.vabout-slider__slide.fancybox(href="img/photos/city-"+i+".jpg")
															img(src="img/photos/city-"+i+".jpg")
											.vabout-slider__nav
												.swiper-button-prev
												.swiper-button-next
											.vabout-slider__bullets
												.swiper-pagination
									.tabs-text
										.tabs-text__anons
											.text-page
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи. 
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи.
										.tabs-text__full
											.text-page
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи. 
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи.
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи. 
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи.
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи. 
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи.
										.tabs-text__toggle
											span.text-toggle Смотреть весь текст
								.tabs-content(data-id="3")
									.tabs-reviews
										.comments
											.comments__top
												.comments__count 4 комментария
												.comments__link
													a.write-comment-link(href="#") Написать комментарий
											form(action="#")
												.comments__list
													.comments__one
														.comment
															.comment__header
																.c-head
																	figure.c-head__img
																		img(src="img/no-photo.png")
																	.c-head__name
																		.c-head__name-text Xpage
																		.c-head__name-date-time 02.08.2018&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;08:45
																	.c-head__counter
																		span(class="comment-like")
																			img(src="img/ico-dislike.png" class="comment-like_dislike")
																			span(class="badge" data-counter="+2")
																			img(src="img/ico-like.png" class="comment-like_like")
															.comment__body
																.comment-text Тестовый комментарий
															.comment__footer
																.comment__footer-reply
																	a(href="#") Ответить
																.comment__footer-form.visible
																	.comment-form
																		textarea.comment-form__text
																		input.comment-form__submit(type="submit" value="Отправить")
															.comment__answer
																.comment.comment--highlight
																	.comment__header
																		.c-head
																			figure.c-head__img
																				img(src="img/no-photo.png")
																			.c-head__name
																				.c-head__name-text Xpage
																				.c-head__name-date-time 02.08.2018&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;08:45
																			.c-head__from
																				.reply-to-link Xpage
																			.c-head__counter
																				span(class="comment-like")
																					img(src="img/ico-dislike.png" class="comment-like_dislike")
																					span(class="badge" data-counter="-2")
																					img(src="img/ico-like.png" class="comment-like_like")
																	.comment__body
																		.comment-text Тестовый комментарий
																	.comment__footer
																		.comment__footer-reply
																			a(href="#") Ответить
																		.comment__footer-form
																			.comment-form
																				textarea.comment-form__text
																				input.comment-form__submit(type="submit" value="Отправить")
																	.comment__answer
																		.comment
																			.comment__header
																				.c-head
																					figure.c-head__img
																						img(src="img/no-photo.png")
																					.c-head__name
																						.c-head__name-text Xpage
																						.c-head__name-date-time 02.08.2018&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;08:45
																					.c-head__from
																						.reply-to-link Xpage
																					.c-head__counter
																						span(class="comment-like")
																							img(src="img/ico-dislike.png" class="comment-like_dislike")
																							span(class="badge" data-counter="0")
																							img(src="img/ico-like.png" class="comment-like_like")
																			.comment__body
																				.comment-text Тестовый комментарий
																			.comment__footer
																				.comment__footer-reply
																					a(href="#") Ответить
																				.comment__footer-form
																					.comment-form
																						textarea.comment-form__text
																						input.comment-form__submit(type="submit" value="Отправить")
													.comments__one
														.comment
															.comment__header
																.c-head
																	figure.c-head__img
																		img(src="img/no-photo.png")
																	.c-head__name
																		.c-head__name-text Xpage
																		.c-head__name-date-time 02.08.2018&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;08:45
																	.c-head__counter
																		span(class="comment-like")
																			img(src="img/ico-dislike.png" class="comment-like_dislike")
																			span(class="badge" data-counter="+2")
																			img(src="img/ico-like.png" class="comment-like_like")
															.comment__body
																.comment-text Тестовый комментарий
															.comment__footer
																.comment__footer-reply
																	a(href="#") Ответить
																.comment__footer-form
																	.comment-form
																		textarea.comment-form__text
																		input.comment-form__submit(type="submit" value="Отправить")
												.comments__btn
													a.write-comment(href="#") Написать комментарий
								.tabs-content(data-id="4")
									.tabs-text
										.tabs-text__anons
											.text-page
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи. 
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи.
										.tabs-text__full
											.text-page
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи. 
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи.
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи. 
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи.
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи. 
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи.
										.tabs-text__toggle
											span.text-toggle Смотреть весь текст
								.tabs-content(data-id="5")
									.tabs-text
										.tabs-text__anons
											.text-page
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи. 
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи.
										.tabs-text__full
											.text-page
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи. 
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи.
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи. 
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи.
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи. 
												p Однажды четыре друга приняли решение разместить в квартире бар и звать друзей не по пятницам, в день зарплаты, а в любой, вне зависимости от погоды, геополитической обстановки, количества наличных и прочего.
												p Друзья увеличили количество столов и стульев, разместили гардеробную и потратились на улучшенную диджейскую аппаратуру. В интерьере квартиры почти ничего не изменилось: часть ванной осталась на месте, кое-где кот испортил обои, но ребята решили, что кирпичи – это неплохо. Вообще, было сложно расстаться с квартирной атрибутикой, поэтому здесь остались и вентилятор, и пишущая машинка, и старые ролики, и многие другие вещи.
										.tabs-text__toggle
											span.text-toggle Смотреть весь текст
						.venue__about
							.v-about
								.v-about__item
									.v-about__item-title Средний чек
									.v-about__item-text 700-1000 руб.
								.v-about__item
									.v-about__item-title Кухня
									.v-about__item-text Авторская, Европейская, Паназиатская
								.v-about__item
									.v-about__item-title Музыка
									.v-about__item-text Тихая фоновая, DJ-сеты, Живая музыка
								.v-about__item
									.v-about__item-title Банковские карты
									.v-about__item-text Принимаются
								.v-about__item
									.v-about__item-title Вайфай
									.v-about__item-text Есть
						.venue__slider
							.venue-slider
								.swiper-wrapper
									each slide, i in ["", "Меню", "наши репортажи", "", "события у нас"]
										.swiper-slide
											a.v-slide(href="#")
												figure.v-slide__img
													img(src="img/photos/v-slide-"+i+".jpg")
												if (slide)
													figcaption.v-slide__title
														span=slide
						.venue__list
							.v-list
								.v-list__item#events
									.v-list__item-title
										.v-list__title
											.v-list__title-text События вашего города
											.v-list__title-btn
												a.default-btn(href="#") Архив событий
									.v-list__item-list
										.vl-items
											- for (let i = 0; i < 2; i++)
												.vl-items__item <a href="#" class="item item--reportage"><figure class="item__img"><img src="https://static.geo.pro/upload/resize_cache/iblock/b42/380_280_2/1560106858.jpg"></figure> <div class="item__desc-top__date">8 марта</div> <div class="item__desc"><div class="item__desc-top"><div class="item__desc-top__title">Репортаж</div></div> <div class="item__desc-title">Квартирник в United</div></div></a>
								.v-list__item#reports
									.v-list__item-title
										.v-list__title
											.v-list__title-text Все самое интересное
											.v-list__title-btn
												a.default-btn(href="#") Все репортажи
									.v-list__item-list
										.vl-items
											- for (let i = 0; i < 2; i++)
												.vl-items__item <a href="#" class="item item--reportage"><figure class="item__img"><img src="https://static.geo.pro/upload/resize_cache/iblock/b42/380_280_2/1560106858.jpg"></figure> <div class="item__desc-top__date">8 марта</div> <div class="item__desc"><div class="item__desc-top"><div class="item__desc-top__title">Репортаж</div></div> <div class="item__desc-title">Квартирник в United</div></div></a>
								.v-list__item
									.v-list__item-title
										.v-list__title
											.v-list__title-text Наши 
												br
												| заведения
											.v-list__title-btn
												a.default-btn(href="#") Все репортажи
									.v-list__item-list
										.vl-items
											- for (let i = 0; i < 2; i++)
												.vl-items__item 
													| <a href="#" class="city-event">
													| <figure class="city-event__img">
													| <img src="https://static.geo.pro/upload/resize_cache/iblock/dbf/380_390_2/Barbaresco.jpg" alt="Barbaresco">
													| </figure>
													| <div class="city-event__desc">
													| <div class="city-event__title">Barbaresco</div>
													| <div class="city-event__desc-bot">
													| <div class="city-event__bot">
													| <div class="city-event__bot-left">
													| <div class="city-event__bot-adress">ул. Энтузиастов,д.11</div>
													| <div class="city-event__bot-phone">
													| <span>+7 (351) 231-82-82</span>
													| </div>
													| </div>
													| <div class="city-event__bot-right">
													| <div class="city-event__rating">6</div>
													| </div>
													| </div>
													| </div>
													| </div>
													| </a>

		include inc/footer.pug
		include inc/scripts.pug